body {
  text-align: center;
  background-color: #19334d;

}

@keyframes HeaderPulse {
  0% {background-color: #708090;}
  50% {background-color: #F5F5F5;}
  100% {background-color: #708090;}
}

.header { 
  color: white;
  justify-content: center;
  padding: 4rem;
  margin-bottom: 1rem;
  position: sticky;
  /* animation: 
    HeaderPulse ease 25s infinite,
    HeaderPulse 20s linear infinite alternate; */
}

.pageTitle{
  max-width: 25rem;
  margin: auto;
  padding-bottom: 3rem;
}

.movie{
  max-width: 20rem;
  color: white;
  margin: 1rem;
  display: inline-block;
  text-align: left;
  padding: 3rem;
}

h4{
  margin-top: 2rem;
}


img {
  width: 250px;
  height: 350px;
  box-shadow: 5px 10px 18px black;
}


.footer{
  background-color: purple;
  background-image: linear-gradient(rgb(43, 2, 82), rgb(83, 2, 116));
  color: white;
  justify-content: center;
  padding: 2rem;
  margin-top: 1rem;
  position: absolute;
  width: 100%;
}

